*.doc
*.txt
*.pdf
*.docx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/计算机视觉.iml
/.ipynb_checkpoints/ex1-checkpoint.ipynb
/实验报告/实验8-图像检索/.ipynb_checkpoints/query-checkpoint.ipynb
/venv/
/.ipynb_checkpoints/
